%h1 Online Gaming Latency Report
.lead
  %p
    Average latency/ping in Online Games as reported by gamers in the Philippines.
%p
  Contribute to the cause.
  #{link_to "Click here to fill up the latency survey", "https://docs.google.com/forms/d/1c-lECY5cFUiAbGuuuECvE5IXFBHA5L5IrSdxSaieLqM/viewform", class: 'btn btn-primary'}
%p
  Or donate bitcoins to this address #{link_to "1Jccm62Tx4DWZRjAerZRhgn9a8LqAGfysv", "bitcoin:1Jccm62Tx4DWZRjAerZRhgn9a8LqAGfysv?label=Faster+Philippine+Internet"}

%p
  #{link_to "By Game", "/latency_survey/by_game.html", class: 'btn btn-default'}
  #{link_to "By Location", "/latency_survey/", class: 'btn btn-default'}
.pull-right
  %i last updated January 9, 2015 (568 responses)
