#site-title
  %h1 Online Gaming Latency Report
  .lead
    %p
      Average latency/ping in Online Games as reported by gamers in the Philippines.
#contribute
  %p
  %p
    #{link_to "Contribute to the cause. Click here to Contribute latency data. For Science.", "https://docs.google.com/forms/d/1c-lECY5cFUiAbGuuuECvE5IXFBHA5L5IrSdxSaieLqM/viewform", class: 'btn btn-primary'}
-# %p
-#   Or donate bitcoins to this address #{link_to "1Jccm62Tx4DWZRjAerZRhgn9a8LqAGfysv", "bitcoin:1Jccm62Tx4DWZRjAerZRhgn9a8LqAGfysv?label=Faster+Philippine+Internet"}

%p
  #{link_to "By Game", "/latency_survey/by_game.html", class: 'btn btn-default'}
  #{link_to "By Location", "/latency_survey/", class: 'btn btn-default'}

-# .alert.alert-warning
-#   %p
-#     PLDT residential broadband and Fibr heavily throttles connections to game servers outside the South East Asia region from 8AM to 12MN PHT.
-#     What is usually 90ms to 250ms is increased to 400ms to over 1000ms
-#
-#   %p
-#     Globe Broadband has bandwidth caps that restrict download speed but latency to game servers seems to be unaffected.
-#
-#   %p We encourage everyone to submit results on both 'capped/throttled' and 'uncapped/unthrottled' mode.

%p.pull-right
  %i last updated January 9, 2016 (896 responses)
