%h2= result
%table.table
  %thead
    %tr
      %th ISP
      %th Game-Ping
  %tbody
    %tr
      %td PLDT
      %td
        %ul
          %li Starcraft 2 - 100ms
          %li Dota - 200ms
          %li League - 80ms
%hr
