.row{id: snakecase(result.area)}
  %h3= result.area.titleize

  - result.games.each do |title|

    .col-lg-2
      %h4= title.titleize

    .col-lg-10
      %table.table
        %thead
          %tr
            %th ISP
            %th Ping
        %tbody
          - result.game_latencies["diablo"].each do |name, ping|
            %tr{class: ping_class(average(ping))}
              %td= name.titleize
              %td= average(ping)

