.row{id: snakecase(area)}
  %h3= area.titleize

  - result.each do |title, isps |

    .col-lg-3
      %h4= title.titleize

    .col-lg-9
      %table.table
        %thead
          %tr
            %th ISP
            %th Ping
        %tbody
          - isps.each do |name, ping|
            %tr
              %td= name.titleize
              %td= ping

