.row{id: snakecase(result.area)}
  %h3= result.area.titleize

  - result.games.each do |title|

    .col-lg-2
      %h4= title.titleize

    .col-lg-10
      %table.table
        %thead
          %tr
            %th.col-lg-6 ISP
            %th.col-lg-6 Ping
        %tbody
          - result.game_latencies[title].each do |name, ping|
            %tr{class: ping_class(average(ping))}
              %td.col-lg-6= name.titleize
              %td.col-lg-6= average(ping)

