.row
  .col-md-3.hidden-xs.hidden-sm
    #cities.fixed
      .text-center
        %h3 Areas
      %ul.nav.nav-stacked
        %li
        - data.location_data.keys.each do |key|
          %li.city= link_to key.titleize, "/latency_survey/##{snakecase(key)}"
.row
  .col-md-10.col-md-offset-2.content
    = partial '_header'
    - data.location_data.each do |location, game_data|
      = partial '_result', locals: { location: location, game_data: game_data}
