.row
  .col-lg-2{data: {spy: 'affix'}}
    %h3 Areas
    %ul.nav.nav-stacked
      - Result.cached_data(data).each do |result|
        %li= link_to result.area, "##{snakecase(result.area)}"

.row
  .col-lg-9.col-lg-offset-3
    %h1 Online Games Latency Report (PH)
    %hr
    - Result.cached_data(data).each do |result|
      = partial '_result', locals: { result: result }
      %hr
