- isps = ['pldt', 'globe', 'bayantel']
- games = ['starcraft', 'dota', 'league']
- areas = ['Pasig', 'Manila', 'Pasig-Ortigas']

- areas.each do |area|
  = partial '_result', locals: { area: area, games: games, isps: isps }
