<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Games, ISP and Latency Chart (Philippines)</title>
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet" type="text/css" />
    <link href="../../stylesheets/normalize.css" rel="stylesheet" type="text/css" /><link href="../../stylesheets/all.css" rel="stylesheet" type="text/css" />
    <script src="../../javascripts/all.js" type="text/javascript"></script>
  </head>
  <body class='components components_ember components_ember_README'>
    <div class='container'>
      <h1 id="emberjs">Ember.js</h1>
      
      <p>Shim repository for <a href="http://emberjs.com/">Ember Application Framework</a>.</p>
      
      <p>This package provides the core of the ember.js framework.</p>
      
      <h2 id="package-managers">Package Managers</h2>
      
      <ul>
        <li><a href="http://bower.io">Bower</a>: <code>ember</code></li>
        <li><a href="http://packagist.org/packages/components/ember">Composer</a>: <code>components/ember</code></li>
      </ul>
    </div>
  </body>
  <div class='text-center'>
    <p>
      Data sourced from
      <a href="https://docs.google.com/forms/d/1c-lECY5cFUiAbGuuuECvE5IXFBHA5L5IrSdxSaieLqM/viewform">Latency Survey</a>
    </p>
    <p>
      This thing ©2015 keikun17. Say Hello <a href="http://twitter.com/keikun17">@keikun17</a>.
    </p>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
        ga('create', 'UA-37061349-2', 'keikun17.github.io');
          ga('send', 'pageview');
  </script>
</html>
